.card {
 border-radius: 30px;
 padding: 40px 20px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 margin: auto;
 max-width: 600px;
}


input {
 width: calc(100% - 16px); 
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
 margin-bottom: 10px; 
}

.button {
 background-color: blue;
 display: block;
 margin: auto;
 padding: 10px 20px;
 border-radius: 30px;
 border: none;
 color: white;
 cursor: pointer;
 transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
 background-color: rgb(20, 30, 210);
 box-shadow: 0 0 10px 0 rgba(1, 1, 1, 1);
}

